@model List<SharedObjects.ValueObjects.VSkillMatrix>
@using SharedObjects.Extensions


<table class="table table-bordered table-hover table-striped table-responsive">
    <thead>
        <tr class="text-center bold font-blue-sharp">
            <td>Topic Id</td>
            <td>Topic</td>
            <td>Trainer</td>
            <td>Weight</td>
            <td>Evaluator</td>
            <td>EvalScore</td>
            <td>AssesScore</td>
            <td>Utilities</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@item.Id</span>
                </td>
                <td>
                    <span>@item.Topic</span>
                </td>
                <td>
                    <span>@item.Trainer</span>
                </td>
                <td>
                    <span>@item.Weight</span>

                </td>

                <td>
                    <span>@item.Evaluator</span>
                </td>
                <td>
                    <span>@item.EvalScore</span>
                </td>
                <td>
                    <span>@item.AssesScore</span>
                </td>
                <td>
                    @if (@User.GetSpecificClaim("Name") == item.Trainer)
                    {
                        <a class="btn default btn-xs red score" id="score" data-topicid="@item.Id" data-toggle="modal" href="#modal-evaluate" title="Score"> <span class="glyphicon glyphicon-pencil"></span></a>

                    }
                </td>

            </tr>
        }
    </tbody>
</table>
